.Content {
  /* margin-top: 16px; */
  margin: 0 auto;
}
#wrapper {
  margin: 0 auto;
}

#content {
  margin-top: 0;
}

#appleNav {
  margin: 0 0 20px 0;
}

#footerwrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.Toolbar {
  margin-top: 10px;
}
/* Desktop screen -> navigationItems won't show */
@media (min-width: 500px) {
  /* bigger devices: above 500px -> sideDrawer won't be seen */
  .Toolbar {
    display: none;
  }
}
