/* .Logo {
  background-color: white;
  padding: 8px;
  /* height: 1%;
  width: 1%; 
  box-sizing: border-box;
  border-radius: 5px;
} */

.Logo {
  background-color: white;
  padding: 4px;
  height: 100%;
  /* height prevent the logo from taking up the whole vertical space of toolbar */
  box-sizing: border-box;
  border-radius: 5px;
  /* border-radius to make round edges */
}

.Logo img {
  height: 100%;
}
