.Task { 
    width: 60%;
    margin: 10px auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    padding: 15px;
    text-align: center;
}

@media (min-width: 500px): {
    .Task {
        width: '450px'
    }

} 

.TaskDeadlineSep{ 
    display:flex;
    margin: 10px 10px;
    padding: 10px;
}

.TaskDeadline { 
    margin: 5px auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    padding: 5px;
    text-align: center;
    color:  red;
    
    
}
.delete { 
    margin: 5px auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    padding: 5px;
    text-align: center;
    color:  blue;
}

.inputStyle {
    background-color: white;

}
.inputStyle:focus {
          background-color: yellow;
          color: black;
    }




    .showTaskDetails {
        display: none;
        background-color: yellow;
        margin: 5px auto;
        border: 1px solid #ccc;
        box-shadow: 0 2px 3px #ccc;
        padding: 5px;
        text-align: center;
      }
      
      .showTaskDetails2:hover .showTaskDetails{
        display: block;
      }
      
      